body {
  background: url(../images/bg-img.jpeg) rgb(13, 104, 13) no-repeat 50% 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: antiquewhite;
}

p {
  color: antiquewhite;
  background: rgba(4, 80, 8, 0.349);
  padding: 20px;
}

ul {
    display: flex;
    list-style-type: none;

}

nav {
    display: flex;
    align-items: center;
    justify-items: center;
}


.nav-item {
    flex-direction: row;
    margin: 0;
    padding: 10px 20px; 
    
}

.nav-item:hover {
    background-color: rgb(5, 78, 14);
}

#highlights {
  background-color: #0c611350;
}

.highlights {
    display: flex;
}




