body {
  background: url(../images/bg-img.jpeg) rgb(13, 104, 13) no-repeat 50% 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: antiquewhite;
}

p {
  color: antiquewhite;
  background: rgba(133, 243, 142, 0.5);
  padding: 20px;
}

#highlights {
  background-color: #00ab0e;
}
